[submodule "third_party/tf_land"]
	path = third_party/tf_land
	url = https://gitlab.georgiatech-metz.fr/paper/tf_land.git
[submodule "third_party/models"]
	path = third_party/models
	url = https://github.com/tensorflow/models.git
[submodule "third_party/cross-season-segmentation"]
	path = third_party/cross-season-segmentation
	url = https://github.com/maunzzz/cross-season-segmentation.git
